.main{
    width: 100%;
    height: 3773px;  
    background-color: white;
}

.part-1{
    width: 100%;
  
    color: black;
 
}

.main-banner-1{
    width: 100%;
    margin-top: 3rem;
    color: black; 
    
}

.main-3part{

    width: 1210px;
    margin-left: 52px;
    margin-right: 52px; 
    color: black;
    line-height: 86px;
    display: inline-flex;
}

.left-1{
    padding: 36px 0px 0px 0px;
    text-align: left;
    width: 333px;
}

.center-1{
    width: 566px;
    text-align: center;
}
   
.cente-main{
    list-style: none;
}
   
.cente-main{
    padding: 0px;
    display: inline-flex;
    list-style: none;
    gap: 60px;
}
  
.home-1{
    font-size: 19px;
    padding: 4px 6px 4px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.services-1{
    font-size: 19px;
    padding: 4px 6px 4px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.contact-1{
    font-size: 19px;
    padding: 4px 6px 4px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.support-1{
    font-size: 19px;
    padding: 4px 6px 4px 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.button {
    background-color: #131414;
    border: none;
    color: white;
    padding: 14px 42px;
    border-radius: 4px;
    text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

.buttotn-1{
    background-color: #131414;
    border: none;
    color: white;
    padding: 14px 42px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-2{
    background-color: #131414;
    border: none;
    color: white;
    padding: 14px 40px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
                                             
 .right-1{
     text-align: right;
     padding: 16px 0px 0px 0px;
     width: 310px;
                    
  }
                    
 .main-banner-2{
    margin-left: 24px;
    margin-right: 52px; 
    height: 606px;
 }
  
 .left-banners{
    width: 65%;
    height: 304px;
 }

 .rig-img{
    text-align: left;
 }
    


 .right-banners{
    width: 35%;
    height: 304px;
    text-align: right;

 }

 .banner-top{
    display: inline-flex;
    width: 100%;
 }
    
 .top-hed{
    font-size: 108px;
     margin-top: 0px;
   margin-bottom: 0px;
     font-family: 'Trebuchet MS', sans-serif;
 }
     
   
.pary{
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

.bootam-left{
    width: 50%;
    height: 304px;
 }
 .bootam-right{
    width: 50%;
    height: 304px;
 }

 .bottam-banner{
    display: inline-flex;
    width: 100%;
    margin-top: 12px;
 }

 .bootam-right-1{
    margin-left: 22px;
 }
    
 .inline-3{
    margin-top: 7rem;
    display: flex;
    gap: 62px;
}
 
.text{
    font-size: 64px;
    
}
       
.box-s{
    position: relative;
    left: 1072px;
    top: -77px;
    width: 96px;
}

.mid-page{
    margin-top: 4rem;
    margin-left: 38px;
    margin-right: 38px;
    height: 326px;
}

.mid-top{
    height: 86px; 
    display: inline-flex;
}

.mid-bottom{
     height: 240px;
     display: flex;
     gap: 6px;
}

.mid-img{
    padding: 20px 14px 0px 2px;
}
 
.heding-mid-1{
    font-family: sans-serif;
    font-size: 44px;
    margin-top: 0px;
    padding: 4px;
    margin-bottom: 0px;
}

.mid-left{
    width: 33%;
    height: 176px;
}

.mid-center{
    width: 33%;
    height: 176px;
    display: flex;
}

.mid-right{
    width: 33%;
    height: 176px;
    display: flex;
}

.box-mid-top-text{
    font-size: 22px;
}
   

 
.box-mid-top{
    display: inline-flex;
}

.texton{
    margin-top: 6px;
    font-family: sans-serif;
}
  
.box-mid-top{
    margin-top: 2rem;
    margin-left: 14px;
}
   
.mid-left{
    display: flex;
}
                     
.box-mid-bottam{
    margin-top: 2rem;
    width: 320px;
     /* border: 2px solid red; */
}

.pic-or-text-left{
    width: 50%;
     text-align: center; 
}

.pic-or-text-right{
    width: 50%;
}

.pic-or-text-1{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;

}

.footer-midcenter{
    margin-left: 5rem;
    margin-right: 5rem; 
}

.pic-or-texti-1{
    margin-left: 4rem;
    margin-right: 4rem; 
    margin-top: 8rem;
}
                 
.pic-or-text-main{
    display: inline-flex;
    width: 100%;
}

.hding{
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 40px;
}
  
.box-text{
    margin-bottom: 4px;
}
   

.hdpary{
    font-family: system-ui;
    font-size: 14px;
    margin-bottom: 76px;
}
    
.under-12{
    display: flex;
    gap: 164px;
}
    
.under-1{
    width: 555px;
    height: 60px;
}

.under-123{
    display: flex;
    gap: 103px;
}
   
.botn{
    margin-top: 6px;
}
    
.hd{
    padding-left: 100px;
}
  
.pic-or-text-lefty{
    width: 50%;
}
   
.pic-or-text-rights{
    width: 50%;
    text-align: center;

}
    
.hds{
    margin-left: 22px;
}
   
.button-cr{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 64px;
}

.crikal-text{
    display: flex;
}

.new-p{

     padding: 0px 0px 0px 46px;
     margin-left: 100px;
     font-weight: 400;
     font-style: normal;
     margin-left: 30px;
     font-family: system-ui;
     margin-top: 0px;
}
              
.linne{
    position: absolute;
    left: 118px;
    margin-top: -78px;
}

.footer-midcenter-main{
    width: 100%;
    /* border: 2px solid red; */
    height: 444px;
    margin-top: 8rem;
    display: flex;

}
  
.footer-midcenter-left{
    width: 50%;
}
   
.footer-midcenter-right{
    width: 50%;
}
 
.button-main{

    margin-top: 22px;
    width: 150px;
    height: 48px;

}

.buttons-01{
    border: none;
    width: 48px;
    height: 42px;
    margin: 10px;

}
 
.ter-right-heading{
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 44px;
}

.footer-midcenter-left-box-1{
    width: 438px;
    height: 366px;
    background-color: black;
    color: white;
}

.footer-midcenter-left-box-1{
    position: relative;
    top: -364px;
    left: 184px;
}

.footer-midcenter-left-box-13{
  
    width: 438px;
    height: 366px;
    background-color: black;
    color: white;
    margin-top: -12px;
    margin-left: 76px;
}
   
.two-img{
    padding: 32px;
}

.pary-main-text{
    padding: 0px 28px 4px 24px;
    line-height: 24px;
    font-family: sans-serif;
}
    
.footer-img-left{
    display: flex;
    margin-left: 24px;


}
 
.bottam-text{
    margin-left: 14px;
}
    
.box-main-bottams-1{

    width:  640px;
    height: 364px;
    margin: auto;   
    position: relative;
    top: 44px;

}

.box-main-bottams{
    margin-top: 6rem;
}
     
.text-headingy{
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 46px;
    text-align: center;
}
  
.parygraf{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 6rem;
}

.box-onts{
    margin-left: 122px;
}
    
.text-color{
    background-color: #f1f1f1;
    margin-top: 92px;
    color: #ab9f9f;
    width: 533px;
    height: 48px;
    display: flex;
    gap: 144px;
    margin: auto;

}

.tex-img{
    display: flex;
    padding: 12px;
    /* margin-top: 3px; */
   

}
    
.button-az{
    border-radius: 2px;
    border: none;
    width: 143px;
    color: white;
    background-color: black;
    height: 42px;
    margin-top: 3px;

}

.bottam-box-on-main{
    width: 100%;
    height: 455px;
    background-color: black;
    color: white;
    display: flex;

}

.bottam-box-on-1{
    width: 33%;
    height: 345px;
}

.bottam-box-on-2{
    width: 22%;
    height: 345px;
    margin-top: 112px;
}
.textsa{
    margin-top: 34px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 22px;
}
    

.bottam-box-on-3{
    width: 22%;
    height: 345px;
    margin-top: 112px;
}

.bottam-box-on-4{
    width: 23%;
    height: 345px;
    margin-top: 112px;
}
 
.bottam-box-on-1{
    margin-top: 112px;
}
   
/* .box-onts{
    text-align: center;
} */
   
.icans-main{
    margin-left: 122px;
}